@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Poppins:ital,wght@0,300;0,400;0,600;1,100;1,300;1,600&family=Tilt+Prism&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;;
}

.showcase{
    position: absolute;
    right: 0px;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(42, 42, 42);
    color: white;
    z-index: 2;
}

.showcase.active{
    right: 300px;
}

.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(41, 40, 40);
    position: fixed;
}

.main_logo{
    cursor: default;
}

.main_logo a{
    color: white;
    text-decoration: none;
}

.main_toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background-image: url(../Imgs_and_stuff/white-hamburger-menu-icon-24.png);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main_toggle.active{
    background-image: url(../Imgs_and_stuff/pngegg.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    cursor: pointer;
}

.main_toggle:hover{
    opacity: 0.6;
}

.main_toggle:active{
    filter:brightness(50%);
}
.main_menu{
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 10; 
    top: 0; 
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
    align-items: stretch;
}

.main_menu::-webkit-scrollbar{
    width: 0px;
}

.dropdown-btn{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in;
}

.dropdown-btn:active, .menu_btns:active, .closebtn:active{
    filter: brightness(200%)
}

.sub-menu .sub-item{
    font-size: 15px;
    white-space: nowrap;
    text-align: center;
    color: #818181;
    transition: all 0.3s ease-in;
}

.main_menu .menu_btns:hover, .dropdown-btn:hover {
    background-color: #444444;
}

.sub-menu{
    display:none;
    flex-direction: column;
    justify-content: center;
}

.main_menu a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #e2e2e2;
    display: block;
    transition:all 0.3s ease;
    white-space: nowrap;
}

.main_menu a:hover{
    color: #f1f1f1;
}

.main_menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    transition: 0.3s;
}

.main_menu .closebtn:hover{
    color:  #444444;;
}

.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 0.8;
}

.main_text{
    position: relative;
    z-index: 3;
    background-color: rgba(0, 0,0,0.5);
    mix-blend-mode: lighten;
    margin-top: 4.5em;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(255, 255, 255, 0.1);
    mix-blend-mode: darken;
}

.main_text h2{
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
}

.main_text h3{
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    padding-left: 10px;
}

.main_text p{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    padding-left: 10px;
}

.main_text a{
    display: inline-block;
    font-size: 1em;
    background-color: white;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    transition: 0.2s;
    margin-left: 10px;
    border-radius: 5px;
}

.bottom_text a{
    display: inline-block;
    font-size: 1em;
    background-color: white;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    letter-spacing: 2px;
    transition: 0.2s;
    margin-left: 10px;
}

.main_text a:hover{
    opacity: 0.8;
    scale: 1.05;
}

.main_side .menu .item .sub-menu {
    background: #262627;
    display: none;
}

@media (max-width: 991px) {
    .showcase, .showcase header{
        padding: 40px;
    }

    .text h2{
        font-size: 3em;
    }

    .text h3{
        font-size: 2em;
    }

    .main_menu{
        padding-top: 15px;
    }

    .main_menu a {
        font-size: 18px;
    }
}