.ExampleDisplay{
    margin: auto;
    text-align: center;
    border-style: none;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    user-select: text;
}

.ContentShown2, .ContentShown{
    margin-right: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    background-color: rgb(244, 244, 244);
}

.content-container{
    margin-left: 0;
}

.headercontainer .HeaderPoint{
    display: inline-block;
}

.headercontainer button{
    background-image: url(..//Imgs_and_stuff/pngegg.png);
    background-color: black;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
    border-style: none;
    cursor: pointer;
    transition: 0.4s;
    float: right;
    border-bottom-left-radius: 8px;
    user-select: none;
}

.headercontainer button:hover{
    opacity: 0.5;
}

.ContentShown2 h3{
    margin-right: 10px;
}

.LeButton{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.LeButton:hover{
    opacity:0.8;
}